.mobile-container {
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: #f6faff;
  display: flex; 
  flex-direction: column; 
  animation: none;
  z-index: 3;
}

.mobile-container.activein {
    animation: slide-in 0.5s ease-in-out forwards; 
}
  
.mobile-container.activeout {
    animation: slide-out 0.5s ease-in-out forwards;
}

@keyframes slide-in {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slide-out {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.mobile-list {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100%; 
    overflow-x: auto; 
    overflow-y: hidden; 
}

.mobile-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    flex-shrink: 0;
    cursor: pointer;
    background-color: #edf4ff;
}

.mobile-list__item:hover {
    background-color: #e8f1ff;
} 

.mobile-list__link {
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; 
    text-decoration: none;
    color: var(--title-color);
}

@media screen and (max-width: 1024px) {
    .mobile-list__item {
        margin-top: 3rem;
        width: 22rem;
        height: 4rem;
        gap: 1rem;
        border-radius: .75rem;
    }

    .mobile-list__link {
        font-size: 1.5rem;
    }

    .mobile-close {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
    
    @media screen and (max-width: 602px) {
        .mobile-list__item {
            margin-top: 3rem;
            width: 18.3rem;
            height: 3rem;
            gap: 1rem;
            border-radius: .75rem;
        }

        .mobile-list__link {
            font-size: 1.3rem;
        }

        .mobile-close {
            width: 2rem; 
            height: 2rem;
            cursor: pointer;
        }
    }
}