.about-us {
    margin-top: 2.5rem;
}

.about-us__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us__subtitle {
    margin-top: 3rem; 
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.8px;
    color: var(--title-color);
}

.about-us__description {
    max-width: 1200px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    color: var(--text-color);
}

.about-us__cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.about-us__child-cards {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    background-color: var(--background-cards-color);
    border: 1px solid #D1DBE8;
    border-radius: 1rem;
}

.about-us__card-title {
    font-style: normal;
    font-weight: 700;
}

.about-us__card-description {
    font-size: .88rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

@media screen and (max-width: 1024px) {
    .about-us__description {
        font-size: 1.3rem;
    }

    .about-us__child-cards {
        width: 15rem;
        height: 15rem;
    }

    .about-us__card-svg {
        width: 1.75rem;
        height: 1.75rem;
    }

    .about-us__card-title {
        font-size: 1.2rem;
    }

    .about-us__card-description {
        font-size: 1.1rem;
    }

    @media screen and (max-width: 602px) {
        .about-us__description {
            font-size: 1rem;
        }

        .about-us__child-cards {
            width: 11rem;
            height: 15rem;
        }

        .about-us__card-svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    
        .about-us__card-title {
            font-size: 1rem;
        }
    
        .about-us__card-description {
            font-size: 1rem;
        }
    }
}

@media screen and (min-width: 1025px) {
    .about-us {
        margin-top: 5rem;
    }

    .about-us__description {
        justify-items: center;
        font-size: 1.4rem;
    }

    .about-us__child-cards {
        width: 18rem;
        height: 15rem;
    }

   .about-us__card-svg {
        width: 1.80rem;
        height: 1.80rem;
   }

   .about-us__card-title {
        font-size: 1.2rem;
   }

   .about-us__card-description {
        text-wrap: wrap;
        font-size: 1.1rem;
    }
}