.contact-section {
    margin-top: 5rem;
}

.contact__title {
    margin-top: 5rem;
    margin-left: 1rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.8px;
    color: var(--title-color);
}

.contact__text {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--text-color);
}

.contact__container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.contact__container--wa {
    margin-bottom: 1rem;
    color: #01E423;
}

.contact__gmail {
    margin-top: 2rem;
}

.contact__container--message {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    color: #000000;
    background-color: #8fbcff;
    cursor: pointer;
}

.contact__container--message:hover {
    background-color: #c8deff;
}

@media screen and (max-width: 1024px) {
    .contact__text {
        font-size: 1.3rem;
        text-align: center;
    }


    @media screen and (max-width: 602px) {
        .contact__text {
            font-size: 1rem;
            text-align: center;
        }
    }
}

@media screen and (min-width: 1025px) {
    .contact-section {
        margin-top: 10rem;
    }

    .contact__text {
        font-size: 1.4rem;
        text-align: center;
    }
}