.project-details__svg {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 2rem; 
    height: 3rem;
    cursor: pointer;
}

.project-details__title {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.106px;
    color: var(--title-color);
}

.project-details__description {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    color: var(--subtitle-cards-color);
}

.project-details__container--images {
    margin-top: 3rem; 
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 2rem;
}


@media screen and (max-width: 1024px) {
    .project-details__description {
        font-size: 1.3rem;
    }

    .project-details__images {
        width: 17rem; 
        height: 17rem;
        border-radius: 1rem;
    }

    @media screen and (max-width: 602px) {
        .project-details__description {
            font-size: 1rem;
        }

        .project-details__images {
            width: 15.6rem; 
            height: 15.6rem;
            border-radius: 1rem;
        }
    }
}


@media screen and (min-width: 1025px) {
    .project-details__images {
        width: 20rem; 
        height: 20rem;
        border-radius: 1rem;
    }

    .project-details__container--images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
}