.whatwedo__title {
    margin-top: 4rem;
    margin-left: 1rem;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 109.375% */
    letter-spacing: -0.8px;
    color: var(--title-color);
}

.whatwedo__container {
    margin-top: 2rem;
}

.whatwedo__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.whatwedo__information--subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
    letter-spacing: -0.6px;
}

.whatwedo__information--text {
    margin-top: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-align: left;
    color: var(--text-color);
}

@media screen and (max-width: 1024px) {
    .whatwedo__information--image {
        width: 30rem;
    }

    .whatwedo__information--text {
        font-size: 1.3rem;
    }


    @media screen and (max-width: 602px) {
        .whatwedo__information--image {
            width: 27rem;
        }

        .whatwedo__information--text {
            font-size: 1rem;
        }
    }
}