.ourwork-title {
    margin-top: 5rem;
    margin-left: 1rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.18rem; /* 109.375% */
    letter-spacing: -0.8px;
    color: var(--title-color);
}

.ourwork-subtitle {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.71rem; /* 137.5% */
    letter-spacing: -0.33px;
}

.ourwork-card {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourwork-card--image {
    width: 13.75rem;
    height: 15rem;
    border-radius: 1rem;
}

.ourwork-card--content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourwork-card--name {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; 
}

.ourwork-card--details {
    font-size: .88rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3rem;
    color: #4F7396;
}

.ourwork-card--link {
    text-decoration: none;
}

.ourwork-card--button {
    display: flex;
    width: 9.4rem;
    height: 2rem;
    margin-top: .5rem;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .5rem;
    color: var(--background-color);
    background-color: var(--background-button-color);
    cursor: pointer; 
}

.ourwork-card--button:hover {
    background-color: #215bb2;
    border-color: 1px  gray;
}

@media screen and (max-width: 602px) {
    .ourwork-card .ourwork-card--image {
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (max-width: 1024px) {
    .ourwork-subtitle {
        font-size: 1.5rem;
    }

    .ourwork-card--image {
        width: 17rem;
        height: 17rem;
    }

    .ourwork-card--name {
        font-size: 1.2rem;
    }

    .ourwork-card--details {
        font-size: 1rem;
    }
}